<div class="container">

	<h1> Current Projects </h1>
	
	<% @popular_projects.each_slice(3) do |projects| %>
	  <div class="row">
	    <% projects.each do |project| %>
	      <div class="col-md-4">
			<p><%= image_tag(project.image.thumb.url, alt: 'Image',:class => "img_preview") if project.image? %></p>
			<p class="lead"> <%= project.title %> </p>
			<p class="lead"> <%= project.short_description %> </p>
			<%= link_to "View", project_path(project) , :class => "btn btn-success" %>
	      </div>
	    <% end %>
	  </div>
	<% end %>
</div>